accelerate
databases[mysql]
diffusers>=0.27.0
fastapi
gfpgan
numpy==1.26.4
onnxruntime-gpu
Pillow
PyMySQL
python-dotenv
python-multipart
rembg
requests
safetensors
torch==2.2.0
torchvision==0.17.0
transformers
uvicorn[standard]
git+https://github.com/xinntao/BasicSR.git
git+https://github.com/xinntao/Real-ESRGAN.git
