opencv-python-headless
accelerate
httpx==0.27.2
databases
diffusers>=0.27.0
fastapi
gfpgan
numpy<2.0.0
Pillow
python-dotenv
python-multipart
rembg[gpu]>=2.0.60
requests
safetensors
torch>=2.0.0
torchvision>=0.17.0
transformers
uvicorn
# ⭐️ OpenAI 버전을 올려서 httpx 충돌 해결
openai==1.55.0
git+https://github.com/xinntao/Real-ESRGAN.git
aiomysql
pycuda
pillow-heif
