numpy<2.0.0
fastapi
uvicorn
python-multipart
torch>=2.0.0
torchvision
Pillow
diffusers>=0.27.0
accelerate
safetensors
transformers
python-dotenv
pillow-heif
databases[mysql]
sqlalchemy
aiomysql
rembg
openai
httpx
requests
onnxruntime-gpu
realesrgan
basicsr
