opencv-python-headless
accelerate
httpx
databases
diffusers>=0.27.0
fastapi
gfpgan
numpy<2.0.0
Pillow
python-dotenv
python-multipart
rembg[gpu]>=2.0.60
requests
safetensors
torch>=2.0.0
torchvision>=0.17.0
transformers
uvicorn
openai==1.35.0
git+https://github.com/xinntao/Real-ESRGAN.git
aiomysql
pycuda
